.menu {
    text-align: center;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

#menu {
    scroll-behavior: auto; /* evita scroll suave que pueda quedar a medio lugar */
}
